@use "sass:math";

.picture-wall-wrapper {
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    user-select: none;

    backface-visibility: hidden;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}
